body {
    margin: 0;
    padding: 0;
}

nav {
    height: 2em;
    display: block;
    background-color: beige;
    width: 100%;
    transition-property: top;
    transition-duration: 500ms;
    top: 0;
    position: fixed;

    
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    height: 2em;
    border-right: 1px solid #bbb;
}

nav ul li a {
    background-color: #333;
    text-decoration: none;
    color: white;
    line-height: 2em;
    display: block;
    text-align: center;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #111;
    
}

main img {
    width: 100%;
}

main img {
    width: 100%
    
}
#wrapper {
    font-family: verdana;
    width: 90%;
    margin: 0 auto;
}

#beste {
    width: 640px;
    float: left;
    padding: 50px;
}


#games {
    width: 640px;
    float: left;
    padding: 50px;
}

#films{
    width: 640px;
    float: left;
    padding: 50px;
}
